<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <!-- Content -->
    <h2 class="text-uppercase font-weight-bold text-center pt-2">
      <span class="text-success">W</span>allpapers for you
    </h2>
    <hr class="deep-purple accent-2 mb-4 mt-0 mx-auto" style="width: 60px;" />
    <p class="text-center">
      Đăng ký kết bạn theo dõi nhắn tin cho tớ các kiểu nhé !
    </p>

    <div class="row">
      <!-- Grid column -->
      <div class="container mt-3">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a
              href="https://www.facebook.com/profile.php?id=100025155662578"
              target="_blank"
              floating="true"
              color="fb"
              class="mx-1"
            >
              <mdb-icon
                fab
                icon="facebook"
                size="2x"
                class="text-info"
              ></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.instagram.com/hatung69/?hl=vi"
              target="_blank"
              floating="true"
              color="fb"
              class="mx-1"
            >
              <mdb-icon
                fab
                icon="instagram"
                size="2x"
                class="pink-text ml-1"
              ></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://steamcommunity.com/profiles/76561198417365285/"
              target="_blank"
              floating="true"
              color="fb"
              class="mx-1"
            >
              <mdb-icon
                fab
                icon="steam"
                size="2x"
                class="indigo-text ml-1"
              ></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.youtube.com/channel/UCX24ykWOREFiWh6jC_gd-Ww?view_as=subscriber"
              target="_blank"
              floating="true"
              color="fb"
              class="mx-1"
            >
              <mdb-icon
                fab
                icon="youtube"
                size="2x"
                class="text-danger ml-1"
              ></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://github.com/Hatung69"
              target="_blank"
              floating="true"
              color="fb"
              class="mx-1"
            >
              <mdb-icon fab icon="github" size="2x" class="ml-1"></mdb-icon>
            </a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p><mdb-icon fas icon="envelope"></mdb-icon> keodeo19@gmail.com</p>
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Hatung96.cơm.mắm.ăn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
