<div class="row mb-5 mt-5 pt-5">
  <div class="col-lg-4 pb-3">
    <!-- Card -->
    <mdb-card class="animated bounceInLeft z-depth-2">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <div>
          <mdb-card-img
            [src]="user.photoURL"
            alt="Chọn ảnh đi công chúa của ta"
          ></mdb-card-img>
          <a (click)="openDialog()">
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <button
        (click)="openDialog()"
        mdbBtn
        type="button"
        mdbWavesEffect
        class="btn-sm btn-block light-green accent-4"
      >
        Chọn ảnh
      </button>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <div class="md-form">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input
              [(ngModel)]="user.displayName"
              mdbInput
              type="text"
              id="form2"
              class="form-control"
            />
            <label for="form2">Tên công chúa</label>
          </div>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text>
          <small> Xin chào công chúa của ta...</small>
        </mdb-card-text>
        <p class="text-center pink-text">
          Loại account:
          <span class="font-weight-bold">{{ user.provider | uppercase }}</span>
        </p>

        <div class="text-center">
          <a
            (click)="save(user)"
            mdbBtn
            class="waves-effect btn unique-color-dark text-success"
            mdbWavesEffect
            >Lưu lại</a
          >
          <a (click)="logOut()" mat-mini-fab color="warn" title="Đăng xuất">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
          </a>
        </div>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->
  </div>
  <div class="col-lg-8">
    <mat-tab-group>
      <mat-tab label="Tải ảnh lên">
        <app-upload-image></app-upload-image>
      </mat-tab>
      <mat-tab label="Ảnh của nàng đây">
        <div class="container">
          <div class="row">
            <div
              class="column"
              *ngFor="let img of userImages | async | paginate: config"
            >
              <div class="view overlay zoom animated fadeIn">
                <img
                  [src]="img.imageUrl"
                  class="img-fluid img-thumbnail alligator-turtle"
                  alt="zoom"
                />
                <div class="mask flex-center">
                  <a
                    [routerLink]="['/image-detail/' + img.key]"
                    mat-mini-fab
                    target="_blank"
                    color="accent"
                  >
                    <mdb-icon far icon="eye"></mdb-icon>
                  </a>
                  <a
                    target="_blank"
                    [href]="img.imageUrl"
                    mat-mini-fab
                    color="warn"
                    download
                    class="ml-1 mr-1"
                  >
                    <mdb-icon fas icon="cloud-download-alt"></mdb-icon>
                  </a>
                  <a
                    target="_blank"
                    (click)="removeImage(img.imageName, img.key)"
                    mat-mini-fab
                    color="primary"
                  >
                    <mdb-icon far icon="trash-alt"></mdb-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pb-3">
          <hr
            class="unique-color-dark mb-4 mx-auto"
            style="width: 300px; height: 5px;"
          />
          <pagination-template
            [maxSize]="5"
            #p="paginationApi"
            [id]="config.id"
            (pageChange)="pageChanged($event)"
          >
            <nav aria-label="Page navigation ">
              <ul class="pagination pg-dark justify-content-center">
                <li
                  [class.disabled]="p.isFirstPage()"
                  class="page-item disabled"
                >
                  <a mat-icon-button (click)="p.previous()" class="rounded-pill"
                    ><mdb-icon size="2x" fas icon="caret-left"></mdb-icon>
                  </a>
                </li>

                <li
                  *ngFor="let page of p.pages"
                  class="page-item"
                  [ngClass]="{ active: p.getCurrent() === page.value }"
                >
                  <a
                    (click)="p.setCurrent(page.value)"
                    class="page-link text-success font-weight-bold"
                    mdbWavesEffect
                    >{{ page.label }}</a
                  >
                </li>

                <li [class.disabled]="p.isLastPage()" class="page-item">
                  <a mat-icon-button (click)="p.next()" class="rounded-pill">
                    <mdb-icon size="2x" fas icon="caret-right"></mdb-icon>
                  </a>
                </li>
                <li [class.disabled]="p.isLastPage()" class="page-item">
                  <a
                    mat-icon-button
                    color="primary"
                    (click)="p.setCurrent(p.getLastPage())"
                    class="rounded-pill"
                  >
                    <mdb-icon size="2x" far icon="hand-point-right"></mdb-icon>
                  </a>
                </li>
              </ul>
            </nav>
          </pagination-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<blockquote class="blockquote bq-primary">
  <p class="bq-title">Độ phân giải ảnh là gì?</p>
  <p>
    Độ phân giải hình ảnh (image resolution) chỉ lượng thông tin được chứa đựng
    trong 1 tập tin ảnh hiển thị trên màn hình. Hiểu một cách đơn giản đó chính
    là số lượng điểm ảnh chứa trên 1 màn hình hiển thị. <br />
    <br />
    1 pixel có kích thước 0,26×0,35 mm (kích thước này là tương đối). Pixcel
    hiển thị trên màn hình là PPI (pixels per inch) khác với DPI (dots per inch
    – mật độ ảnh trên inch được dùng trong máy in và ảnh in.
  </p>
</blockquote>
