<div class="row bg animated zoomIn mt-3">
  <div class="col-lg-4 mx-auto my-4 pb-3 pt-5 animated zoomInUp">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-header class="bg-header text-dark text-center">
          <h1 class="pt-2 font-weight-bold">
            <mdb-icon fas icon="sign-in-alt"></mdb-icon> Đăng nhập
          </h1>
        </mdb-card-header>
        <mdb-card-body class="mx-2">
          <form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm.value)">
            <div class="md-form">
              <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input
                formControlName="email"
                type="text"
                required
                id="elegantFormEmailEx"
                class="form-control"
                mdbInput
              />
              <label for="elegantFormEmailEx">Email</label>
              <small
                id="materialRegisterFormPhoneHelpBlock"
                class="form-text animated pulse infinite mb-4 blue-text"
              >
                Nhập cho chuẩn cái mail nàng nhé !
              </small>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input
                formControlName="password"
                required
                type="password"
                id="elegantFormPasswordEx"
                class="form-control"
                mdbInput
              />
              <label for="elegantFormPasswordEx">Mật khẩu</label>
              <small
                id="materialRegisterFormPasswordHelpBlock"
                class="form-text text-muted mb-4"
              >
                6 ký tự ăn lên nhé công chúa !
              </small>
            </div>
            <div class="text-center mb-3">
              <button
                [disabled]="loginForm.invalid"
                type="submit"
                mdbBtn
                block="true"
                class="z-depth-1a rounded-pill waves-effect unique-color-dark text-success btn-block mt-2 font-weight-bold"
                mdbWavesEffect
              >
                Đăng nhập
              </button>
            </div>
          </form>
          <!--Body-->

          <hr
            class="light-green accent-3 mb-4 mx-auto"
            style="width: 150px; height: 2px;"
          />

          <div class="row my-3 d-flex justify-content-center">
            <!--Facebook-->
            <button
              (click)="loginFacebook()"
              type="button"
              mdbBtn
              rounded="true"
              class="mr-md-3 z-depth-1a unique-color-dark waves-effect waves-light rounded-pill"
            >
              <mdb-icon
                fab
                icon="facebook-f"
                class="blue-text text-center"
              ></mdb-icon>
            </button>
            <!--Google-->
            <button
              (click)="loginGoogle()"
              type="button"
              mdbBtn
              rounded="true"
              class="mr-md-3 z-depth-1a unique-color-dark waves-effect waves-light rounded-pill"
            >
              <mdb-icon fab icon="google" class="text-danger"></mdb-icon>
            </button>
            <!--Github-->
            <button
              (click)="loginGitHub()"
              type="button"
              mdbBtn
              rounded="true"
              class="z-depth-1a unique-color-dark waves-effect waves-light rounded-pill"
            >
              <mdb-icon fab fab icon="github" class="white-text"></mdb-icon>
            </button>
          </div>
        </mdb-card-body>
        <!--Footer-->
        <div class="modal-footer mx-5">
          <p class="font-sm text-center d-flex justify-content-end">
            Chưa có Acc thì&nbsp;
            <a [routerLink]="['/register']"> Đăng ký ngay lào!</a>
          </p>
        </div>
      </mdb-card>
    </section>
  </div>
</div>
