<footer class="page-footer font-small light-green accent-4 mb-4 rounded-lg">
  <div class="container">
    <!-- Photo Grid -->
    <div class="row pb-2">
      <div class="column" *ngFor="let img of imagesLatest | async">
        <!--Mask with wave-->
        <div class="view overlay hoverable">
          <img
            [src]="img.imageUrl"
            style="width: 100%;"
            class="img-fluid"
            alt="Hình mới nhất"
          />
          <a [routerLink]="['/image-detail/' + img.key]" target="_blank">
            <div class="mask flex-center">
              <h2 class="white-text">{{ img.imageName }}</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
