.bg {
  /* The image used */
  background-image: url("src/assets/img/bg-signup.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-header {
  background: rgb(28, 35, 49);
  background: linear-gradient(
    135deg,
    rgba(38, 255, 0, 1) 18%,
    rgba(28, 35, 49, 1) 18%,
    rgba(28, 35, 49, 1) 21%,
    rgb(0, 255, 0) 21%,
    rgb(0, 255, 13) 24%,
    rgba(0, 85, 255, 1) 24%,
    rgba(28, 35, 49, 1) 24%
  );

  background-repeat: no-repeat;
}
