<div class="row bg animated zoomIn mt-3">
  <div class="col-lg-4 mx-auto my-4 pb-3 pt-5 animated zoomInDown">
    <section class="form-elegant">
      <mdb-card>
        <!--Header-->
        <mdb-card-header class="bg-header text-success text-center">
          <h1 class="pt-2 font-weight-bold">
            <mdb-icon fas icon="pencil-alt"></mdb-icon> Đăng ký
          </h1>
        </mdb-card-header>
        <mdb-card-body class="mx-2">
          <!-- Form -->
          <form
            [formGroup]="registerForm"
            (ngSubmit)="register(registerForm.value)"
          >
            <!-- E-mail -->
            <div class="md-form">
              <mdb-icon
                fas
                icon="envelope"
                class="prefix float-left"
              ></mdb-icon>
              <input
                formControlName="email"
                id="materialRegisterFormEmail"
                class="form-control"
                mdbInput
              />
              <label for="materialRegisterFormEmail">Email</label>
              <small
                id="materialRegisterFormPhoneHelpBlock"
                class="form-text animated pulse infinite mb-4 pink-text"
              >
                Nhập cho chuẩn cái mail nàng nhé !
              </small>
            </div>

            <!-- Password -->
            <div class="md-form">
              <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input
                formControlName="password"
                type="password"
                id="materialRegisterFormPassword"
                class="form-control"
                aria-describedby="materialRegisterFormPasswordHelpBlock"
                mdbInput
              />
              <label for="materialRegisterFormPassword">Mật khẩu</label>
              <small
                id="materialRegisterFormPasswordHelpBlock"
                class="form-text text-muted mb-4"
              >
                Ít nhất 100 ký tự ( thích thì 6 cũng đc )
              </small>
            </div>

            <!-- Confirm password -->
            <div class="md-form">
              <mdb-icon fas icon="shield-alt" class="prefix"></mdb-icon>
              <input
                formControlName="confirmPassword"
                type="password"
                id="materialRegisterFormPhone"
                class="form-control"
                aria-describedby="materialRegisterFormPhoneHelpBlock"
                mdbInput
              />
              <label for="materialRegisterFormPhone">Xác nhận mật khẩu</label>
              <small
                [ngClass]="{
                  'text-danger':
                    registerForm.controls.confirmPassword.errors?.mustMatch
                }"
                id="materialRegisterFormPhoneHelpBlock"
                class="form-text text-muted white-text"
              >
                Nhập sao cho giống mật khẩu ở trên dùm cái !
              </small>
            </div>

            <!-- Sign up button -->
            <button
              [hidden]="isLoading"
              [disabled]="registerForm.invalid"
              type="submit"
              mdbBtn
              block="true"
              rounded="true"
              class="z-depth-1a rounded-pill waves-effect unique-color-dark text-success btn-block font-weight-bold"
              mdbWavesEffect
            >
              Đăng ký
            </button>
            <button
              [hidden]="!isLoading"
              disabled
              mdbBtn
              type="button"
              block="true"
              rounded="true"
              class="z-depth-1a light-green accent-4 text-dark rounded-pill font-weight-bold"
              mdbWavesEffect
            >
              Đang đăng ký....
            </button>
          </form>
          <!-- Form -->
        </mdb-card-body>
        <div class="modal-footer mx-5">
          <p class="font-sm text-center d-flex justify-content-end">
            Hay nàng muốn&nbsp;
            <a [routerLink]="['/login']"> Quay dìa Đăng nhập!</a>
          </p>
        </div>
        <!--Footer-->
      </mdb-card>
    </section>
  </div>
</div>
