@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.font-brand {
  font-family: "Fugaz One", cursive;
}
span .navbar-toggler-icon {
  background-color: aliceblue;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
