<br />
<h1 class="text-center text-fuck mt-5 pt-4">
  <span>Thể loại: </span> <span class="text-success">{{ paramCategory }}</span>
  <hr class="light-green accent-4 mb-4" style="width: 350px; height: 5px;" />
</h1>
<div class="row">
  <div
    class="column"
    *ngFor="let img of imagesCategory | async | paginate: config"
  >
    <div class="view overlay zoom animated zoomIn">
      <img
        [src]="img.imageUrl"
        class="img-fluid img-thumbnail alligator-turtle"
        alt="zoom"
      />
      <div class="mask flex-center">
        <a
          [routerLink]="['/image-detail/' + img.key]"
          target="_blank"
          mdbBtn
          mdbWavesEffect
          class="rounded-pill btn-sm mr-1 waves-effect waves-light light-green accent-4 text-dark"
        >
          Chi tiết
        </a>
        <a
          target="_blank"
          [href]="img.imageUrl"
          mat-mini-fab
          color="warn"
          download
        >
          <mdb-icon fas icon="cloud-download-alt"></mdb-icon>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="pb-3">
  <hr
    class="unique-color-dark mb-4 mx-auto"
    style="width: 300px; height: 5px;"
  />
  <pagination-template
    [maxSize]="5"
    #p="paginationApi"
    [id]="config.id"
    (pageChange)="pageChanged($event)"
  >
    <nav aria-label="Page navigation ">
      <ul class="pagination pg-dark justify-content-center">
        <li [class.disabled]="p.isFirstPage()" class="page-item disabled">
          <a mat-icon-button (click)="p.previous()" class="rounded-pill"
            ><mdb-icon size="2x" fas icon="caret-left"></mdb-icon>
          </a>
        </li>

        <li
          *ngFor="let page of p.pages"
          class="page-item"
          [ngClass]="{ active: p.getCurrent() === page.value }"
        >
          <a
            (click)="p.setCurrent(page.value)"
            class="page-link text-success font-weight-bold"
            mdbWavesEffect
            >{{ page.label }}</a
          >
        </li>

        <li [class.disabled]="p.isLastPage()" class="page-item">
          <a mat-icon-button (click)="p.next()" class="rounded-pill">
            <mdb-icon size="2x" fas icon="caret-right"></mdb-icon>
          </a>
        </li>
        <li [class.disabled]="p.isLastPage()" class="page-item">
          <a
            mat-icon-button
            color="primary"
            (click)="p.setCurrent(p.getLastPage())"
            class="rounded-pill"
          >
            <mdb-icon size="2x" far icon="hand-point-right"></mdb-icon>
          </a>
        </li>
      </ul>
    </nav>
  </pagination-template>
</div>
