.image-area {
  border: 5px dashed #26ff00;
  border-style: solid;
  padding: 0.5rem;
  position: relative;
  background-color: #1c2331;
  box-shadow: 2px 2px 4px #000000;
}

.image-area::before {
  content: "Uploaded image result";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.text-fuck {
  font-family: "Pacifico", cursive;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f0eded;
}

#customers tr:hover {
  background-color: #1c2331;
  color: #64dd17;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
