<br />
<br />
<div class="row mt-5 pb-5">
  <div class="col-lg-7">
    <div class="view overlay">
      <img
        id="imageResult"
        [src]="(imageDetail | async)?.imageUrl"
        alt="Hình cần Upload"
        style="cursor: pointer;"
        class="img-fluid mx-auto d-block image-area"
      />
      <a>
        <div
          class="mask waves-effect waves-light rgba-white-slight"
          mdbWavesEffect
        ></div>
      </a>
    </div>
  </div>
  <div class="col-lg-5 mt-3">
    <div>
      <h1 class="text-center text-fuck">
        Chi tiết <span class="text-success"> hình ảnh</span>
        <hr
          class="light-green accent-4 mb-4"
          style="width: 200px; height: 2px;"
        />
      </h1>
      <div>
        <table id="customers">
          <tr>
            <td>
              <mdb-icon size="2x" class="blue-text" fas icon="image"></mdb-icon>
            </td>
            <td class="font-weight-bold">Tên ảnh:</td>
            <td class="font-weight-bold">
              {{ (imageDetail | async)?.imageName }}
            </td>
          </tr>
          <tr>
            <td>
              <mdb-icon size="2x" class="amber-text" fas icon="paw"></mdb-icon>
            </td>
            <td class="font-weight-bold">
              Thể loại:
            </td>
            <td class="font-weight-bold">
              {{ (imageDetail | async)?.category }}
            </td>
          </tr>
          <tr>
            <td>
              <mdb-icon
                size="2x"
                class="green-text"
                fas
                icon="calendar-alt"
              ></mdb-icon>
            </td>
            <td class="font-weight-bold">
              Tải lên:
            </td>
            <td class="font-weight-bold">
              {{ (imageDetail | async)?.dateUpload }}
            </td>
          </tr>
          <tr>
            <td>
              <mdb-icon
                size="2x"
                class="pink-text"
                fas
                icon="pencil-alt"
              ></mdb-icon>
            </td>
            <td class="font-weight-bold">
              Mô tả:
            </td>
            <td class="font-weight-bold">
              {{ (imageDetail | async)?.description }}
            </td>
          </tr>
        </table>
      </div>
      <a
        [href]="(imageDetail | async)?.imageUrl"
        class="waves-effect btn unique-color-dark text-success btn-block mt-2 font-weight-bold"
        download
        target="_blank"
      >
        Tải xuống
      </a>
    </div>
  </div>
</div>
<blockquote class="blockquote bq-success">
  <p class="bq-title">Phân biệt PPI và DPI</p>
  <p>
    Tuy cả hai đều cùng chỉ mật độ điểm ảnh trên mỗi inch của tấm ảnh nhưng PPI
    thường dùng cho ảnh hiển thị trên màn hình còn DPI dùng trong ảnh in ấn. PPI
    cho biết độ lớn của ảnh khi hiển thị trên màn hình, DPI lại cho biết độ lớn
    của bức ảnh mà bạn in ra.
  </p>
</blockquote>
